body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #383838;
}

.container {
  padding: 0 20px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #f6f6f6;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
p {
  margin: 5px 0;
}

button {
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #f6f6f6;
}

nav > * {
  margin: 20px;
}

a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
}
