body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #f6f6f6;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
p {
  margin: 5px 0;
}

button {
  /* display: inline-block; */
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
