<!DOCTYPE html>
<html>
  <head>
    <title>Your Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global_styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('upload') }}">Home</a>
      <a href="{{ url_for('stats') }}">Statistics</a>
      <a href="{{ url_for('predict') }}">Predict</a>
      <a href="{{ url_for('box_plot') }}">Box Plot</a>
      <a href="{{ url_for('confusion') }}">Confusion Matrix</a>
      <a href="{{ url_for('bayesian') }}">Bayesian Probability </a>
      <!-- Add more navigation links as needed -->
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
