<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Statistics</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='global styles.css') }}"
    />
    <style>
      .table-frames {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
      }
      .header {
        display: flex;
        flex-grow: 0;
      }

      button {
        align-self: center;
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h2>Dataset: {{filename}}</h2>
      <button onclick="window.location.href='/predict'">Predict</button>
    </div>
    <div class="table-frames">
      <div>
        <h3>Sample data:</h3>
        {{df_sample|safe}}
        <small><i>Showing top 10 rows from {{filename}}</i></small>
        <br /><br />
        <b>Note:</b> <br />
        Height is in kg <br />
        Weight is in cm
      </div>
      <div>
        <h3>Dataset statistics:</h3>

        <p>Total no of rows = {{dataset_stats['no_rows']}}</p>
        <p>
          Total no of numerical features = {{dataset_stats['no_num_features']}}
        </p>
        <p>
          Total no of categorical features =
          {{dataset_stats['no_cat_features']}}
        </p>
      </div>
    </div>
    <br />
    <h3>Class statistics:</h3>
    <div class="table-frames">
      {% for class_label in class_stats %}
      <div>
        <p>For <b>{{class_label}}:</b></p>
        {{class_stats[class_label]["description"] | safe}}
        <br />
        {{class_stats[class_label]["kurtosis"] | safe}}
        <br />
        {{class_stats[class_label]["skewness"] | safe}}
        <br />
        <p><b>covariance</b> matrix:</p>
        {{class_stats[class_label]["covariance"] | safe}}
        <br />
      </div>
      {% endfor %}
    </div>

    <br />
    <!-- {% if plot_data %}
        <img src="data:image/png;base64,{{ plot_data }}" alt="Multivariate Distribution" />
    {% endif %} -->
  </body>
</html>
