<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Statistics</title>
  </head>
  <body>
    <h2>Dataset: {{filename}}</h2>
    <h3>Sample data:</h3>
    {{df|safe}}
    <small><i>Showing top 10 rows from {{filename}}</i></small>
    <br /><br />
    <b>Note:</b> <br />
    Height is in kg <br />
    Weight is in cm
    <br />
    <br />
    <h3>Dataset statistics:</h3>
    {{dataset_stats|safe}}
    <br /><br />
    <h3>Class statistics:</h3>
    {{class_stats|safe}}
    <br /><br />
    {% if plot_data %}
        <img src="data:image/png;base64,{{ plot_data }}" alt="Multivariate Distribution" />
    {% endif %}
    <h2>Predicted class:</h2>
    {{predicted_class|safe}}
  </body>
</html>
